[2020-07-23 11:22] RaulMarquezInclan opened #1 "Divider line isn't changing color along with the text."
Hi,

The divider line isn't changing color along with the text, it always displays black.

Code:
[code]
Output:
![image](https://user-images.githubusercontent.com/29371626/88280937-a47eec00-cc9b-11ea-8bb5-9797ab351b16.png)

Thanks for the plugin, awesome work.

[2020-07-24 22:04] znjameswu commented on #1
Thanks for the comment. I'm working on a fix.

[2020-07-24 22:22] znjameswu commented on #1
This issue is fixed in version 0.1.4

[2020-07-24 22:22] #1 closed

[2020-07-28 04:18] znjameswu opened #2 "UnicodeMath implementation reference"
Here is a dedicated issue for the implementation of UnicodeMath spec.

After some quick experiment, I find some quick burning discrepencies in the UnicodeMath. The following discrepencies will directly affect parser design and behavior. I will document them within this issue and the docs.

# Current Plan

There are two areas of UnicodeMath input support currently under consideration: user input, o

[2020-07-28 04:27] znjameswu commented on #2
Currently intended solution is to specialize '/' and '_', '^', so that they automatically raise the precedence of the unary-able operators behind them. I still need more testing on MS Word

[2020-08-01 16:30] znjameswu opened #3 "Possible SVG workaround for web"
CaTeX is experimenting SVG support on the web. [https://github.com/simpleclub/CaTeX/issues/62](https://github.com/simpleclub/CaTeX/issues/62)

This project will keep a watch on their experiment results and possibly learn from CaTeX if applicable.

[2020-08-06 07:16] RaulMarquezInclan commented on #1
Awesome! Thanks again.

[2020-08-11 05:58] znjameswu commented on #3
Web platform is supported in version 0.1.6

[2020-08-11 05:58] #3 closed

[2020-08-11 07:04] znjameswu opened #4 "Text symbols are being clipped on Flutter Web"
This is an issue with the current beta version of Flutter Web.

https://github.com/flutter/flutter/issues/63460

[2020-08-27 14:55] creativecreatorormaybenot opened #7 "Special characters are unsupported"
If you try to use special characters like `ä` or `Ö` in a `FlutterMath` widget, it will not work.

It seems like the KaTeX fonts _need_ to support that as it works in KaTeX. What do you think @znjameswu 😃

[2020-08-27 18:02] znjameswu commented on #7
Yes, I'm planning to support that. I'll work on it in next release.

[2020-09-02 07:14] VadimOsovsky opened #8 "Wrapping"
Hey @znjameswu ! Awesome library! Thanks for making such amount of work publicly available!

Currently the whole equation is rendered on a single line, are you planning (or is there already) a built-in support for wrapping?

Thanks! Have a great day!

[2020-09-03 01:32] znjameswu commented on #8
Thank you for your interest in this library!

Yes, wrapping (Breakable equations) was originally planned and even prototyped in this repository in very early stages (but later removed). It will be added in future, probably very soon.

The major blocking issue is how to design those render contracts. I currently can only think of completely rewriting custom versions RenderBox and BoxConstraint, but

[2020-09-03 05:32] VadimOsovsky commented on #8
What I'm going to do about that as a workaround is just split my katex into chunks, render them separately and put it in the Wrap widget. I also split normal text into each word and put each word into it's own Text widget, so I could insert katex inline. That's the best idea I can think of.

[2020-09-03 18:21] znjameswu commented on #8
That is how KaTeX renders equation, but is very hard to achieve with current Flutter Math's design.

For example, the height of left/right delimiters depends on the highest element within the delimiters. In Flutter Math, I decided to leave the height/width calculation to Flutter's layout pipeline rather than precalculating them from AST. So I have to wrap the entire thing in a RenderObject to shar

[2020-09-04 02:40] znjameswu commented on #7
Support for unicode accents is added in v0.1.8. Welcome to check out the online demo!

[2020-09-04 02:40] #7 closed

[2020-09-04 02:46] znjameswu commented on #7
But one thing needs to mention is that i, j based unicode accent looks very unnatural (e.g. `ì`). This is inherited from KaTeX (see flutter_tex's output) and MathJaX does this job even worse. If you have any idea to fix this, please let me know.

[2020-09-04 04:32] creativecreatorormaybenot commented on #7
@znjameswu Very awesome!

No, I have no idea. However, after looking into it, I think that it is not too bad. I mean the characters do look unnatural as you said, but they still fit into the rendered output generally. Before the change, they would not even have the correct metrics, so it is a huge improvement 🚀

[2020-09-04 20:49] znjameswu opened #9 "[Blocking] Flutter IME key event interception for editing implementation"
Currently there is no good way of intercepting IME's key event in Flutter, e.g. Backspace, Enter, Home, End, Up, Down, etc, which is essential for the implementation of UnicodeMath-style editing.

https://github.com/flutter/flutter/issues/14809

Of course, we can infer IME key events by monitoring `TextEditingValue` and diffing them. But this will either break copy/paste or undo/redo invoked from

[2020-09-07 04:15] znjameswu commented on #9
Text diffing is not a viable option due to the following reasons according to testing.

1. Flutter Web's IME composition string implementation is broken. Composing range is always empty and any changes to the composition string are implemented by two steps: delete all & reinsert. This completely breaks text diffing method.
2. Flutter Window's has a different event model. When input `N` characters

[2020-09-07 21:54] znjameswu commented on #9
The problem with Flutter Windows is solvable with a change of diffing algorithm.

But the problem with Flutter Web seems to be not solvable, and it really doesn't seem to be the fault of Flutter teams. As MathQuill.js also run into the same problem on IME key event handling https://github.com/mathquill/mathquill/issues/327.

The current plan is to bring a broken support with Flutter Web IME。

[2020-09-18 09:54] znjameswu opened #10 "0.2.0 API Redesign"
Current 0.1.x's API design is more of a makeshift design that has a lot of oversight and redundancy which is later proved to be not so useful. As the development for follow-up feature goes deeper and I'm having a better understanding for the API demand, it is probably the time to stablize the API and make some unavoidable breakings. The proposed API change takes inspirations from other projects fr

[2020-09-18 09:56] znjameswu commented on #10
@creativecreatorormaybenot Please let me know your thoughts on this design. They are heavily inspired by your CaTeX project and you are of course more experienced on this subject.

[2020-09-18 15:36] creativecreatorormaybenot commented on #10
@znjameswu Thanks for pinging me - I will take a look probably on Tuesday; until then I am busy, but I will not forgot to take a look.

It looks very exciting 🔥

[2020-09-22 20:59] znjameswu commented on #10
`logicalPpi` seems like a better name than `lpPerInch`.

[2020-09-22 21:41] creativecreatorormaybenot commented on #10
@znjameswu Yes, certainly. I actually have no objections to verbose variable names (e.g. `logicalPixelsPerInch`), but I do see the advantage of shortening these when they are used a lot + only referenced internally.

I know I said Tuesday, but I think by this week is a better estimate - so I will get back by Sunday for sure; preferably earlier :)

[2020-09-22 21:57] znjameswu commented on #10
Thanks for your comment. No need to hurry! Right now I only finished a `MathSelectable` prototype. But to provide sensible contents to the clipboard, it still needs a TeX encoder. So, still some time to go.

The internal implementation on the master branch has already been changed to using `TextStyle.fontSize` and `logicalPpi`. The code is a lot simpler and performant now. `baseSizeMultiplier` was

[2020-09-25 09:47] creativecreatorormaybenot commented on #10
Here are some of my thoughts:

I like the idea for the development side of the API. In terms of usage, I feel like it would be nice to have one widget (at least for view-only and selectable). For example, Flutter has `Text` and `SelectableText`, however, that feels somewhat counterintuitive in *some* scenarios.
So, I do like the separation and I would just add *another widget* to the table: someth

[2020-09-25 18:15] znjameswu commented on #10
Thanks for your comments. They are very inspiring.

### Widget separation

Yes, I also thought about flipping the name. But I can't find a proper name for a static, non-selectable widget. A non-selectable widget is kind of important, because its implememtation was designed to avoid any state management cost, while selectable ones shares the same performance penalty as the editable.

I think `MathV

[2020-10-22 03:30] znjameswu commented on #10
## Progress Update

### Selectable Widget
With commit https://github.com/znjameswu/flutter_math/commit/95410f612ad06d670204d48948a0023ae03ea8f3, selectibility-related feature is about to complete. The only blocking issue is this DDC bug https://github.com/flutter/flutter/issues/66122 causing severe, undebuggable runtime error during web debugging on (currently) all Flutter channels. This is due to

[2020-10-22 07:17] creativecreatorormaybenot commented on #10
@znjameswu The selection feature is really impressive 👌 🚀 And I know the pain - I have also struggled with DDC issues a lot in the past year; really looking forward to web becoming stable.

What is the hack for right click to copy? Are you talking about the fact that Flutter does not support regular context menus on web?

Regarding the naming, I think that given how some framework widgets are name

[2020-10-22 07:19] creativecreatorormaybenot commented on #10
I see: you used a `textarea` hack - can you walk me through that? It seems really interesting to me since I have also done a bunch of HTML element stuff in Flutter web 👍

[2020-10-22 07:38] znjameswu commented on #10
Sure, `textarea` is to mimic how Flutter Web hacks to make its `SelectableText` have a 'copy' option. When you create any `EditableText` (no matter from `SelectableText` or `TextField`) and focus on it, a corresponding `textarea` will be generated. That `textarea` is 100% transparent, but it is binded (via `TextInputConnection`) to the editing value. If positioned correctly (by updating position a

[2020-10-22 08:03] creativecreatorormaybenot commented on #10
@znjameswu That is very interesting thanks 👌

[2020-10-25 23:38] znjameswu opened #12 "SelectableMath sometimes show selection handles on Web"
This is a bug of Flutter's `TextSelectionGestureDetector` https://github.com/flutter/flutter/issues/69001

For some reason, it appeared way more often on `SelectableMath` than in vanilla Flutter's `SelectableText`.

[2020-10-26 08:16] znjameswu commented on #10
0.2.0 has been released. Though dartdoc is currently broken at pub.dev https://github.com/dart-lang/pub-dev/issues/4166

[2020-10-26 08:16] #10 closed

[2020-10-26 22:49] znjameswu opened #13 "SelectableMath's selection toolbar won't appear in mobile browsers in most cases"
Currently `SelectableMath` employed a hack to get righ-click context menu on desktop web, as discussed in https://github.com/znjameswu/flutter_math/issues/10#issuecomment-714297030. However this has an unexpected side effect, because it breaks mobile browsers's selection toolbar.

On mobile web, the position of selection toolbar depends on the actual position of the underlying `textarea` (doesn't

[2020-10-26 23:21] creativecreatorormaybenot commented on #10
@znjameswu Awesome news 🚀

[2020-10-26 23:50] creativecreatorormaybenot commented on #9
@znjameswu I did not look into the issue deeply - out of curiousity: what are the problems you are facing with using `RawKeyboardEventListener`? Is that not a feasible approach when using `TextEditingValue`?

(I think you notice that I *really* did not look into it 😅)

[2020-10-27 00:54] znjameswu commented on #9
When I opened this issue, I remember that `RawKeyboardEventListener`  was unable to capture some software keyboard event on Android (i.e. complex keys from Hacker's keyboard). I just tested. It works now.

Another problem is IME handling. `RawKeyboardEventListener` only deals with a plain software keyboard without IME. Popping up a plain keyboard instead of user's default IME is wierd, and prevent

[2020-10-27 02:47] creativecreatorormaybenot commented on #10
@znjameswu I forgot to send the comment: I tried the new release and I think it works awesome.

I really appreciate the new project structure, Git workflow, and naming 👌

It seems like there are still some problems with `SelectableMath`, i.e. selection in general, however, I honestly think that this is not a big deal - just having part of the feature is already amazing and you went a long way with

[2020-10-27 05:46] znjameswu commented on #10
@creativecreatorormaybenot
Thank you! I appreciate that you like my work!

I agree that the selection part is very rough and unpolished. I initially thought it would be easy to just copy from Flutter's built-in widgets, but later found Flutter's implementation to be *rough* as well. My current plan is to halt feature development, as selection and IME handling problems are still hard to tackle at n

[2020-10-28 18:29] znjameswu commented on #12
Will fix after https://github.com/flutter/flutter/pull/69101/commits/c0fd109507e74b2edaae8b830342408eca822fd5 lands on beta

[2020-10-30 01:33] znjameswu commented on #13
I think it's better to drop the idea of using "native" context menu on web. `MathQuill` failed achieve it either. In fact, no web implementations did this with a native context menu. They all intercept the right click event and override with their custom context menu. Current Flutter can't do that easily.

Also, desktop web can still copy by ctrl+C in the future.

Once https://github.com/flutter/f

[2020-11-09 16:50] SpunkyMaXimz opened #14 "Handle overflow"
Hi,
Great project first of all. Thank you so much.

Is it possible to handle the overflow some way? I am trying to insert equations to some text.

Here is an example text with equation:` r' \text {What is the value of } \frac {20} {30} \text {in decimal?} '`

The problem is that the whole thing is one line and it is clipped of or overflowed the container. I want it to have the behavior of a normal

[2020-11-09 18:09] znjameswu commented on #14
Thank you for liking this library!

Currently there is still no support for auto-wrap features. The reasons are discussed in https://github.com/znjameswu/flutter_math/issues/8 . This is somewhat non-trivial due to Flutter's layout system. However this is definitely on the roadmap. I'm still trying to come up with a good design for it.

For now, you can probably mitigate this problem by using a sma

[2020-11-10 09:31] SpunkyMaXimz commented on #14
Oh, there was already filed a similar issue., I am closing this then. Looking forward for the feature to be implemented. Thanks.

[2020-11-10 09:31] #14 closed

[2020-11-20 23:32] znjameswu opened #15 "Null safety migration"
The manual nnbd migration turns out to be easier than I had thought. Currently all tests are passing on the `nnbd` branch.

The prerelease version will be published once the following dependencies have migrated:
- `provider`
- `flutter_svg`
- `tuple` (currently replaced with an internal implementation)

[2020-11-28 13:46] SpunkyMaXimz commented on #8
Using a Wrap widget is another workaround. Spit the Tex equation into multiple smaller ones and give them as children of Wrap. Probably not efficient but worked for me.

[code]

Need to split the rest of the text too. Otherwise inline wrapping is not be perfect.

[2020-11-29 07:40] znjameswu commented on #8
Wrapping will probably be on top of the queue after NNBD migration. However I'm no expert on line breakings. I'll talk about my planned implementation. **It is probably hugely flawed**, so if you find any mistake or know this better, be sure to let me know.

## Background

According to my knowledge, the most common solution for line breaking is to first introduce a centralized layout manager, `Tex

[2020-11-29 08:11] znjameswu commented on #8
@creativecreatorormaybenot Again I may need your help😄. I'm not so sure about the correct way to do the wrapping. Also I quite doubt the idea of mocking `Size`, `Constraints` etc (it seems evil).

Your team definitely has more experiences on Flutter and design patterns. This is a long plan though, it would be great if you can spare some time in the next few weeks to give it a check.

[2020-11-29 12:05] Skyost commented on #8
@znjameswu It would be incredible from you, this is definitely the only thing that is missing in this library ! 😄

[2020-11-29 17:30] creativecreatorormaybenot commented on #8
@znjameswu To be honest, wrapping is probably not what you want to support _first_.

KaTeX supported wrapping line breaks late into their development, see https://github.com/KaTeX/KaTeX/pull/1287
And for display mode, it can be ignored anyway.

I think the main reason for this is that horizontal scrolling is preferrable **or** you do not intend your equation to exceed the horizontal constraint any

[2020-11-29 17:33] creativecreatorormaybenot commented on #15
You should probably **redo** some parts of the migration once upstream has migrated. Otherwise, you will lose the nullability information and just assume that everything from `upstream` that was not yet migrated is nullable.

I can also do that migration if you are interested :)

[2020-11-29 18:00] NEONSOLISALPHA commented on #8
Yes, I think so too, currently large equations with many expressions are rendered in one line, without ‘//‘ it is a long line, adding support to ‘//‘ will be awesome!.

[2020-11-29 19:37] znjameswu commented on #15
Yes, that's the reason I've not yet merged it into the master. You can work on the nnbd branch.

[2020-11-29 19:47] creativecreatorormaybenot commented on #15
@znjameswu Sounds good - let's hope I will remember to do it once the packages have been migrated 😄

[2020-11-29 20:21] znjameswu commented on #8
@creativecreatorormaybenot

Yeah, you are right. Respecting manual line breaks should be a higher priority. It can be done with a modification to the parser and ast.

Thank you for pointing out. I just went to check TeXBook Ch.14. Well it seems TeXBook doesn't fancy the idea of line breaking inside a nested node ("only outer-level"). That arguably does make things a lot easier. Originally I am try

[2020-11-29 22:55] creativecreatorormaybenot commented on #8
@znjameswu Makes sense!

From the perspective of content creation, I think that 1. manual line breaks is most important because that is what people really want to do and 2. if there are automatic line breaks, TeX line breaking might be sufficient because it is not **crucial** to line break in nested nodes (people probably might not really notice the difference).

So judging from that "different pe

[2020-11-30 02:25] SpunkyMaXimz opened #16 "'Math' Name change suggestion"
This is just a suggestion, you can ignore it for any reason. The class name `Math`, when I think of, resembles Math.java or similar math libraries and I would prefer using something like `Texxt()` or `TeXt()` instead of `Math.tex()`.

But again, just a suggestion.
Thanks.

[2020-11-30 02:36] znjameswu commented on #16
Thank you for the suggestion. In fact this was a part of the discussion during the most recent 0.2.0 API changes. https://github.com/znjameswu/flutter_math/issues/10

The reason I didn't go for something like `TeX` is that this project is not intended to be coupled with TeX since the beginning. I intend to bring UnicodeMath editing support in the future, so TeX is only one of the accepted input fo

[2020-11-30 02:53] SpunkyMaXimz commented on #16
oh, that is the reason behind .tex() constructor. ok, I got your point.
And since the #10 talks about it, I am closing this 😅.

[2020-11-30 02:53] #16 closed

[2020-11-30 08:39] olof-dev commented on #8
@znjameswu Great package and a very impressive effort! Just to second @creativecreatorormaybenot's comments: I would advocate only starting with explicit line breaking, with `\\` and perhaps some of the TeX environments that deal with common use cases, like `multline` (from `amsmath`).

For dealing with variable screen/widget widths, perhaps something like an `\optionalLineBreak` TeX command could

[2020-11-30 10:13] olof-dev commented on #10
How about `MathText` for the widget? Like `RichText`, but math-enabled.

[2020-11-30 16:06] Skyost opened #17 "Overflow in `cases` environment"
Hey,

First, thank you for this great plugin ! I'm currently trying to implement it in my app alongside `flutter_widget_from_html_core`. But everytime I'm using the `cases` environment, I get a `RenderLine overflowed of 16 pixels` error.

<img height="400" src="https://user-images.githubusercontent.com/3882599/100631369-ef84cc00-332b-11eb-9116-cf01ce730caf.png">

(the second overflow error is due

[2020-11-30 22:53] znjameswu commented on #17
Thank you for your feedback. I'll check that. Possibly missing some tests.

Meanwhile as a suggestion, for display equation overflow caused by #8, you can always wrap it inside a scrollable widget.

[2020-11-30 23:09] znjameswu commented on #8
It turns out we can support TeX-style line-breaking quite easily. Since TeX only allows line-breaks at the outmost level, the problem I explained earlier is a non-problem. At the outmost level, no layout elements are interacting. We can just accomplish it by the simple solution proposed in https://github.com/znjameswu/flutter_math/issues/8#issuecomment-686263556: Render them in chunks and possibly

[2020-12-01 00:17] creativecreatorormaybenot commented on #8
@znjameswu Well, frankly we do this already anyway :D

I think the simple `Wrap` approach is probably not healthy for the parser, so I would instead integrate it into the regular rendering pipeline, but it seems good to me 🙂
Would just want to make sure that intrinsic sizing and such do not break.

[2020-12-01 00:54] znjameswu commented on #8
We can introduce a new static function to `Math`, say
[code]
Which makes no modification to the parser nor the ast. It just unwraps the outermost row and return pieces of `Math` widget.

[2020-12-01 01:02] creativecreatorormaybenot commented on #8
@znjameswu Yeah, that is what we do at the moment :D

I think it is a really crude solution, but it does work of course.

[2020-12-01 08:24] Skyost commented on #17
Yes, that's what I figured out too. But the thing is that I don't like when these blocks are scrollable, because `Text` widgets do not wrap. For example,

Not in a scrollable widget :
[code]

In a scrollable widget :
[code]

(and I prefer the first one, but I also think I will have to implement the second one.) It would be great if Flutter allowed us to detect when an overflow occurs (so that I ca

[2020-12-01 21:29] znjameswu commented on #17
It is a combination of corner cases inside `RenderLine` layout logic and parsing flaws for `cases` environment without second column. I'll fix it sometime later this week.

[2020-12-01 21:46] Skyost commented on #17
Great @znjameswu !

[2020-12-08 13:09] Skyost commented on #17
Hey @znjameswu, do you have any news about this one ?

[2020-12-08 22:46] znjameswu commented on #17
Sorry I'm having quite a burnout recently. I will work on this one as soon as possible.

[2020-12-09 08:16] Skyost commented on #17
Take your time @znjameswu, I know what it is to be completely overwhelmed with work.

[2020-12-13 01:07] panmengma opened #18 "Math.tex(r'\frac a b') will throws an error"
Math.tex(r'\frac a b');
Math.tex(r'\frac a b', mathStyle: MathStyle.display);
Math.tex(r'\frac a b', mathStyle: MathStyle.text);

The above code all will throw a same error:
NoSuchMethodError: The getter 'color' was called on null.
Receiver: null
Tried calling: color

My development environment is win10+vscode.

[2020-12-13 10:09] Skyost commented on #18
I don't know if it's a bug or anything, but you have to pass a `TextStyle` with a non-null color :

`Math.tex(r'\frac a b', TextStyle(color: Colors.black));`

[2020-12-13 13:20] panmengma commented on #18
Thanks for your response.

I finally get the code running correctly following your suggestions.

What puzzles me is why the usage like Math.tex(r'\frac a b', mathStyle: MathStyle.display) , Math.tex(r'\frac a b',textStyle: TextStyle(fontSize: 42)) which is in the documentation will throw an error?

[2020-12-13 13:31] Skyost commented on #18
Depends on your testing environment, I think. If you provide a default color to your app text style, then it's all good. Otherwise you will encounter this error (that's what I understood from my investigations).

[2020-12-13 15:44] panmengma commented on #18
Yes, I agree with you.

 And, Thanks for your work!

[2020-12-14 04:45] rutvik110 opened #20 "No such method error on not passing textstyle parameter ."
## Steps to recreate the issue

1.While creating the Math.tex() instance,don't pass the textstyle parameter.

## Solution:
1)In the Math.tex() method when we are returning the Math object ,check if textstyle is null or not and if it's then assign a default textstyle to it.
2)In the build method where we are are initializing the options ,in the MathOptions object check if textstyle is null before g

[2020-12-14 04:54] rutvik110 commented on #20
Closing this issue as pull request for this is already submitted.

[2020-12-14 04:54] #20 closed

[2020-12-16 00:14] creativecreatorormaybenot opened #21 "CaTeX link"
Hi James,

I have been linking to `flutter_math` from new issues created on [`CaTeX`](https://github.com/simpleclub/CaTeX) for quite a while now. You might have noticed that we have been quite busy since we created that repo and have not been able to actively maintain it.

Because of that, I want to add an on-hold notice to the package and I would like to link to `flutter_math` in there:

![image]

[2020-12-17 00:22] creativecreatorormaybenot commented on #21
@znjameswu I pushed it to `master` now, so it is live :)

Let me know if you have any concerns 👍

[2020-12-18 10:19] znjameswu commented on #21
Thank you for that! I appreciate it!

[2020-12-18 10:19] #21 closed

[2020-12-18 10:20] znjameswu commented on #18
Sorry for the delay. Yeah, I can confirm confirm it is a bug. Thank you @Skyost !

[2020-12-18 10:34] #18 closed

[2020-12-18 11:16] #17 closed

[2020-12-18 11:17] Skyost commented on #17
Thanks a lot !

[2020-12-18 23:30] znjameswu commented on #15
@creativecreatorormaybenot `provider` was updated yesterday so I've tried to update dependencies and they just seem to work. You can check them on the `nnbd` branch.

[2020-12-18 23:43] creativecreatorormaybenot commented on #15
@znjameswu Yep, nice! Looking good; great that all dependencies have the NNBD version now 😋

I think `provider` has had the null safety version for about a week now, but I completely forgot about this issue 🙈

Does that mean that you are done with the migration already? Or should I take a look into migrating it?
Would probably migrate from the `master` version - but no need to bother with it when

[2020-12-19 00:36] znjameswu commented on #15
@creativecreatorormaybenot Yes I think I'm done with migrating and shall merge `nnbd` branch into `master`.

[2020-12-19 00:36] #15 closed

[2020-12-30 01:29] znjameswu commented on #2
Found a really good project to be a reference https://github.com/doersino/UnicodeMathML

After going through its implementation. I think the following solution might work for this project:
- Modify `petitparser` so that it can take `List<GreenNode>` as input and can parse in both forward and backward order.
- Non-`SymbolNode` or `SymbolNode` marked as `escaped` will be viewed as primitives. Non-es

[2020-12-30 01:43] znjameswu commented on #2
Some other ambiguities related to separators:
- `(1|2|3) ` evaluates to a bracket containing `1`, `|2|`, `3` (Documented in the spec)
- `(1||) ` evaluates to `(`, `1`, `|`, `|\box )`
- `(1|2|) ` evaluates to a bracket containing `1`, `|2|`
- `(1|2|3|4) ` evaluates to the form of `(A|B)` where `A=1|2|3` and `B=4` (This comes as a surprise)

[2020-12-31 05:23] znjameswu commented on #8
I have implemented the easier TeX-style line breaking. It is currently on the `master` branch (i.e. null safety enabled). I'm not sure if it is badly needed to be backported to pre-null_safety versions. Welcome to checkout [the design](https://github.com/znjameswu/flutter_math/blob/master/doc/line_breaking.md).

I'll close this issue and open a new one for the remaining tasks.

[2020-12-31 05:23] #8 closed

[2020-12-31 05:26] znjameswu opened #25 "Advanced Display Style Line Breaking"
Follows #8

See also:
https://github.com/znjameswu/flutter_math/blob/master/doc/line_breaking.md

[2021-01-06 23:48] modulovalue opened #26 "A couple of comments"
Hi @znjameswu

1. Have you considered splitting flutter_math into 2 distinct packages where one doesn't depend on flutter and with the other containing all the flutter related logic? Besides the obvious benefits, this would allow the tests on the dart side to make use of darts reflection capabilities. They might not be needed now, but this is a big project and that will come in handy in the future

[2021-01-07 00:36] znjameswu commented on #26
Thank you for the comment. They are very helpful! Here is my thought on this.

### Package splitting
I have considered splitting into smaller packages. This package starts out as a KaTeX port and gradually adding stuff, hence now. However I have some concerns.

As a natural logic, it is best to split it into AST, TeX parser, TeX encoder, UnicodeMath parser, etc. However, each widget variant still

[2021-01-07 02:14] modulovalue commented on #26
I think 2 packages would give the most value in terms of practicality and long term maintainability. I'm mostly just concerned about the flutter dependency since you have no control over flutter. You have full control over the rest, and as long as there are no platform dependencies, i believe one package should be fine for the dart-only part.

That's a fair point. Editing has definitely a higher p

[2021-01-07 02:14] #26 closed, assigned to nobody

[2021-01-08 18:54] creativecreatorormaybenot opened #27 "Line break Distances are unsupported"
This is somewhat connected to #8.

It is a common use case to use `\\[distance]` to specify the distances of line breaks.

An example would be `\\[3mm]`.

## Example

Check https://katex.org with `1\\2\\[3mm]3` - you will understand it quickly :)

## Docs

It is documented below the table in the [environments section](https://katex.org/docs/supported.html#environments) in the KaTeX docs.

## Curre

[2021-01-17 12:19] Skyost opened #28 "A RenderLine overflowed"
Hello,

I'm testing your package from the master branch (because I want to give a try to the new line break feature) and I still have some overflow exceptions :

<details>
<summary>Stacktrace</summary>

[code]

</details>

See it in action :

<img height="500" src="https://user-images.githubusercontent.com/3882599/104840612-71be5500-58c6-11eb-8d42-449990118735.png" />

[2021-01-17 12:21] Skyost commented on #28
Here's another example :

<details>
<summary>Stacktrace</summary>

[code]

</details>

<img height="500" src="https://user-images.githubusercontent.com/3882599/104841880-ccf04780-58c6-11eb-807a-9470e6158f8f.png" />

[2021-01-17 14:16] Skyost commented on #28
Oh, I wasn't aware of [this](https://github.com/znjameswu/flutter_math/blob/master/doc/line_breaking.md#standard-tex-style-vs-advanced-display-style) and I was not following the recommendations. Sorry for this issue then 😄

[2021-01-17 14:16] #28 closed, assigned to nobody

[2021-01-18 16:21] Skyost opened #29 "Alignment in line breaking mode"
Hey,

I've followed the instructions [here](https://github.com/znjameswu/flutter_math/blob/master/doc/line_breaking.md#standard-tex-style-quick-start) to implement the line breaking feature in my app. It really suits my needs, but there's a little caveat using a `Wrap` widget in order to display Tex break parts : some parts are not aligned. Here are some examples :

![Screenshot_1](https://user-im

[2021-01-18 21:16] creativecreatorormaybenot opened #30 "Support dvipsnames colors"
I think it would be useful if all `dvipsnames` colors would be supported as colors via name:

<tbody>
<tr>
<td><b>Apricot</b></td>
<td bgcolor="#FBB982">&nbsp;
</td>
<td>&nbsp;</td>
<td bgcolor="#00B5BE">&nbsp;
</td>
<td><b>Aquamarine</b>
</td></tr>
<tr>
<td><b>Bittersweet</b></td>
<td bgcolor="#C04F17">&nbsp;
</td>
<td>&nbsp;</td>
<td bgcolor="#221E1F">&nbsp;
</td>
<td><b>Black</b>
</td></tr>
<tr

[2021-01-18 21:21] creativecreatorormaybenot commented on #30
@znjameswu Nevermind me 🙈  I just realized that you already did that, however, you seem to have messed up `cyan` and because **cyan** was not working for us, I assumed that the other ones were not working either.

I will open a PR 😄

[2021-01-18 21:24] creativecreatorormaybenot commented on #30
I fixed `cyan` in #31 now - I wonder if the other ones are actually `dvipsnames` (given that there are taken from https://developer.mozilla.org/en-US/docs/Web/CSS/color_value).

It might be worth to recreate the file with the colors from above. Let me know if you agree, I would want to make a PR :)

[2021-01-18 21:28] creativecreatorormaybenot commented on #30
I wonder @znjameswu - was it a coincidence that we both chose the Mozilla CSS colors? (see [my code](https://github.com/simpleclub/CaTeX/blob/1e88b726018221eeb844827612d95e7dbcceada9/lib/src/lookup/colors.dart#L9))

Back then, I did not really think about `dvipsnames`, however, I do think that `dvips` is the better approach :)

If you agree, I would quickly generate the corrected colors and update

[2021-01-31 23:32] creativecreatorormaybenot opened #32 "Missing dry layout support"
There is a new **dry layout** contract that is currently unsupported by `flutter_math`.

See https://flutter.dev/docs/release/breaking-changes/renderbox-dry-layout.

[2021-01-31 23:32] creativecreatorormaybenot commented on #32
@znjameswu I will probably open a PR to address this issue.

[2021-02-01 05:21] creativecreatorormaybenot commented on #32
@znjameswu I started this on https://github.com/simpleclub-extended/flutter_math/commit/ea14ce741c2c749d8830174b1b8495773a5cbff4, however, I realized that I am not deep enough into the code in order to figure out how to deal with the baselines.

It might be that we need to introduce a layout mode that does not rely on the baselines for the dry layout pass.

[2021-02-11 15:54] JohnGalt1717 opened #34 "Feature Request: MathQuill style entry"
It would be great to have MathQuill style entry in flutter so that kids etc. could enter math formulas easily.  Any ideas or plans?

[2021-02-15 13:23] MTRNord opened #35 "Unable to build on flutter dev windows desktop"
Windows desktop sadly currently requires flutter dev or beta.

This means currently when building this error happens:

[code]

Any chance for a fix?

[2021-02-16 08:45] carlowenig opened #36 "Special characters italic in text mode"
Hi there, first of all, great package!

I've encountered the following bug:
When I type special characters (tested with ä, ö, ü) while being in text mode (inside `\text{...}`) they will appear in italic font.
![grafik](https://user-images.githubusercontent.com/27353309/108038781-87e14180-703b-11eb-8d67-03c53af7c6fd.png)
This does not happen when being inside `\mathrm{...}`.

Currently I am using a

[2021-02-16 19:32] JohnGalt1717 opened #37 "/flutter_math-0.2.1/lib/src/widgets/selection/overlay.dart:302:46: Error: Too few positional arguments: 8 required, 7 given. child: selectionControls.buildToolbar( ^"
I'm getting this on compile.

This is my environment definition:

environment:
  sdk: ">=2.12.0-0 <3.0.0"

What am I doing wrong?

[2021-02-17 11:21] MuratovArthur commented on #29
@Skyost

Hey!

I am a beginner in flutter, so I couldn't use the author's documentation to implement the line-breaking feature correctly. I have an error: `Error: The method 'texBreak' isn't defined for the class 'Math'.`

Could you help me? Could you share your code?

[2021-02-17 19:33] Skyost commented on #29
@MuratovArthur You have to install the dev version from git (see [here](https://github.com/Skyost/Bacomathiques/blob/app/pubspec.yaml#L32)).

[2021-02-18 03:58] MuratovArthur commented on #29
@Skyost

Hey!

Thank you for helping me!

I've tried to install the dev version from git, but it required to update some other packages. I've updated `sdk` to `sdk: ">=2.6.0 <3.0.0"`, `flutter_svg` to `flutter_svg: ^0.20.0-nullsafety.3`.

After that, I've tried to run my app, but there was an error `Error: Too few positional arguments: 8 required, 7 given.
            child: selectionControls!.bui

[2021-02-18 04:14] MuratovArthur commented on #37
I have the same error =(

[2021-02-18 10:13] Skyost commented on #29
@MuratovArthur Nope because I'm not using `selectionControls.buildToolbar`, but the error is only telling you that you're missing an argument at that line.

[2021-02-19 19:35] ghost commented on #37
Me too on for flutter beta

[2021-03-04 17:35] doble-d opened #38 "Error when trying to run Flutter 2"
Just upgraded my Flutter SDK to the new version  (Flutter 2) and I get and error when trying to run the project or build an apk:

[code]

[code]

[code]

[2021-03-04 17:37] doble-d commented on #37
Same just upgraded to Flutter 2 stable channel

[2021-03-05 03:03] walsha2 commented on #38
Having the same exact issue - this is a duplicate of #37. Please close this issue and move discussion there.

[2021-03-05 03:04] walsha2 commented on #37
Same issue. Here is the full error message from `flutter build ios`

[code]

@JohnGalt1717 can you please fix the title of this issue to something more appropriate and descriptive? The current title is just the error message.

[2021-03-05 04:05] walsha2 commented on #38
Please see #39 pull request to resolve #37 - and in turn this issue. Awaiting approval from @znjameswu

[2021-03-08 04:53] #38 closed, assigned to nobody

[2021-03-09 11:43] vietor opened #40 "znjameswu maybe dead, so fork it for yourself"
up!

[2021-03-10 10:04] edhom opened #41 "Square root only displays on the second frame (web only)"
If you rebuild every frame, the square root cannot be displayed at all.
[code]

[2021-03-10 10:08] edhom opened #42 "Square root claims gestures (web only)"
A button displaying a square root does not respond since the square root claims the gesture.
The following does not work:
[code]

[2021-03-15 11:37] Skyost commented on #29
I finally have some results using the following code :

[code]

I don't think it's the best way to achieve this, but at least it works.

[2021-03-15 12:03] #29 closed, assigned to nobody

[2021-03-16 06:21] yavuztarhan commented on #29
<strike>
i tried  add the package flutter_math_fork: ^0.3.0 like yours, it needs tuple 2.0.0(which depends quiver 2.0.0) but your pupspec.yaml not contains tuple, also google sign in depends quiver 3.0.0 , i am stuck

</strike>

thanks,
i solved ;

dependencies:
    quiver: ^2.0.0+1
dependency_overrides:
    quiver: "3.0.0"

[2021-03-16 06:43] yavuztarhan commented on #29
@MuratovArthur

how do you fix it ?

[2021-03-21 19:52] melvinotieno opened #45 "Package Incompatibility"
Because flutter_math <0.3.0-nullsafety.0 depends on tuple ^1.0.3 which depends on quiver >=0.22.0 <3.0.0, flutter_math <0.3.0-nullsafety.0 requires quiver >=0.22.0 <3.0.0.

(1) So, because google_sign_in_platform_interface >=2.0.0 depends on quiver ^3.0.0, flutter_math <0.3.0-nullsafety.0 is incompatible with google_sign_in_platform_interface >=2.0.0.

[2021-03-26 07:45] dangduoc opened #46 "Failed to run on flutter 2.0.3"
I got this error when trying to run flutter on andoird simulator.
 /flutter_math-0.2.1/lib/src/widgets/selection/overlay.dart:302:46: Too few positional arguments: 8 required, 7 given. child: selectionControls.buildToolbar ...

[2021-03-28 06:23] expz commented on #46
The same happens for me with flutter 2.0.2 on the iphone simulator.

[2021-03-28 16:16] baabale commented on #46
I am also experiencing the same problem. **Please, give it a higher priority to debug it.** - Developer.

[2021-03-28 17:51] KNuggies commented on #46
flutter_math has not been maintained. Someone already fixed this on the fork flutter_math_fork, and it's on pub.dev until this project is maintained again. https://pub.dev/packages/flutter_math_fork

[2021-03-29 11:15] dangduoc commented on #46
Thank you, any idea whether this package is gonna be maintained again or not?

[2021-03-29 15:38] baabale commented on #46
Awesome, thanks, buddy. It is working fine.

[2021-03-30 17:36] MidhunrajXYZ commented on #8
Hi, I can't access the Math.texBreak() method. I am using the null-safety version (0.3.0-nullsafety.1). Is this functionality yet to be added?

My code looks something like this:

[code]

[2021-03-30 19:36] Skyost commented on #8
Not in `0.3.0-nullsafety.1`. Try [this package](https://pub.dev/packages/flutter_math_fork) instead.

[2021-03-31 02:33] MidhunrajXYZ commented on #8
This seems to be working. Will this repo eventually add that feature or do I have to continue using the forked one?

[2021-03-31 04:46] MidhunrajXYZ commented on #8
I can't mix text and maths together and wrap them.
[code]

[2021-03-31 09:49] Skyost commented on #8
I think you'll have to stay with the forked one for now.

[2021-04-06 15:43] MidhunrajXYZ commented on #8
Is this issue solvable? Here the \text block is not breaking up. Is the logic hard to implement? I think it just needed to separate each words.

[2021-04-06 16:54] Skyost commented on #8
I have no clue sadly. You may have to directly edit the source code of this library if it doesn't work for you.

[2021-04-10 06:21] rutvik110 commented on #46
Yes,i too feaced the same issue today when building my old flutter web app.
The issue is in thie lib/src/widgets/selection/overlay.dart file whete the `selection.buildToolbar` is expecting 8 arguments instead of 7,
The last argument that's missiing is for the offset.So i solved this issue by passing the offset as the last argument there.
`child: selectionControls.buildToolbar(
          context,

[2021-04-22 13:40] walsha2 commented on #45
This package is not being maintained any longer, it seems.

Please use this fork on Pub.dev instead:

https://pub.dev/packages/flutter_math_fork

This specific fork can be found here on Github:

https://github.com/simpleclub-extended/flutter_math

[2021-04-22 13:40] walsha2 commented on #37
This package is not being maintained any longer, it seems.

Please use this fork on Pub.dev instead:

https://pub.dev/packages/flutter_math_fork

This specific fork can be found here on Github:

https://github.com/simpleclub-extended/flutter_math

[2021-04-22 13:40] walsha2 commented on #40
This package is not being maintained any longer, it seems.

Please use this fork on Pub.dev instead:

https://pub.dev/packages/flutter_math_fork

This specific fork can be found here on Github:

https://github.com/simpleclub-extended/flutter_math

[2021-06-07 17:31] hfactorcode opened #47 "Wrapping text"
I have a latex code something like this

\text{Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy te}

\begin{array}{l}
\text { Let } f(x, y)=x^{y}+y^{x} \\
\text { Then, } \frac{\partial f}{\partial x}=y x^{y-1}+y^{x} \log _{e} y ; \text { Similarly }, \frac{\partial f}{\partial y}=x^{y} \log _{e} x+x y^{x-1} \\
\therefore

[2021-09-18 10:44] Sunia2021 opened #48 "how to take line breaking?"
at first, thanks for sharing such a powerful plugin!!
In my project, need to render Latex, and so choose this plugin!
i am a tyro,  now i can render Latex string, but have a big  question -- how to take line breaking?
two cases：
1.latex string is wider then screen width   2.one latex string has multi-math expression
In  Math.tex( ).texBreak().parts,  how can we make custom line breaking policy?  i

[2021-12-17 05:30] Mon-ius opened #51 "failed build with flutter 2.5.3"
--- xcodebuild: WARNING: Using the first of multiple matching destinations:
{ platform:macOS, arch:x86_64, id:5B5D3D31-4199-58BB-A20C-ED2BB1C54620 }
{ platform:macOS, name:Any Mac }
/usr/local/Caskroom/flutter/2.2.2/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_math-0.3.0-nullsafety.1/lib/src/widgets/selectable.dart:407:7: Error: The non-abstract class 'InternalSelectableMathState' is missing

[2022-01-16 17:27] #36 closed, assigned to nobody

[2022-02-09 20:59] battucave commented on #51
Any update on this issue ?
Lot of people are facing this issue now

[2022-02-09 21:00] battucave commented on #51
Building without sound null safety
For more information see https://dart.dev/null-safety/unsound-null-safety

/usr/local/Caskroom/flutter/2.2.0/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_math_fork-0.3.3+1/lib/src/widgets/selectable.dart:407:7: Error: The non-abstract class 'InternalSelectableMathState' is missing implementations for these members:
 - TextSelectionDelegate.copySelection
 -

[2022-02-22 11:26] izzabellerina opened #52 "Font Family Can't Change"
Hello guy, How do I change the font family of the math text?
I just change it from "textStyle" but it doesn't work.
Thank you in advance.

[2022-08-16 14:26] naveedjamali opened #53 "Unsanitized build exception detected: Unsupported operation: Temporary node CrNode encountered..Please report this error with correponding input."
**Error Message:** Unsanitized build exception detected: Unsupported operation: Temporary node CrNode encountered..Please report this error with correponding input.

**Corresponding Input:** \textsf{For any three sets X, Y, and Z, }\\X\cap(Y\cup Z)=?

**[flutter_tex](https://pub.dev/packages/flutter_tex)** package successfully renders the above input, hence the above input may be assumed as a **VA